extends ../layout

block content
  style.
    #map {
      height: 60vh;
    }

  .page-header
    h2
      a(href='/api/feed')
        i.fa.fa-newspaper-o 
      | feed - Sendlove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='/api/new_intention')
      i.fa.fa-map-marker 
      | Create your intention
    a.btn.btn-primary(href='http://www.facebook.com/sharer/sharer.php?u='+shareUrl, target='_blank')
      i.fa.fa-share
      | Share your intention

  br
  p <a href="/api/new_intention">Intention</a> > <a href="/api/Map">Map</a>  > <a href="/api/feed"><b>Feed</b></a> 

  // included in map.pug and feed.pug.
  br
  .row
    .col-sm-12.col-md-11.col-lg-10
      for result in mapLocations.reverse()
        .row
          .col-xs-12.col-sm-4
            br
            img(src='/uploads/'+result.imagePath, height="150px")  
          .col-sm-2
            a(href='/api/intention/' + result._id ) #{result.name}
          .col-sm-3.col-md-5
            p #{result.description.substring(0,255)}..
          .col-sm-1
            a(href='/api/feed?category=' + result.category ) #{result.category}
            p





  //- this is the simple way of making a local available to client javascript.
  script(type='text/javascript').
    var locations =!{JSON.stringify(mapLocations)}
    
  script.
    document.write("<script type='text/javascript' var locations=locals.mapLocations src='/js/map.js?" + Date.now() + "'><\/script>");
  
