extends ../layout

block content
  style.
    #map {
      height: 50vh;
     
    }

  .page-header
    h2
      a(href='/api/map')
        i.fa.fa-heart
      | intention - SendLove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='/api/new_intention')
      i.fa.fa-heart-o 
      | Create your intention
    a.btn.btn-primary(href='http://www.facebook.com/sharer/sharer.php?u='+shareUrl, target='_blank')
      i.fa.fa-share
      | Share your intention

  br
  - if (user != undefined) 
    p <a href="/api/intention/#{token}"><b>Intention</b></a> > <a href="/api/message?intention=#{token}">Message</a> > <a href="/api/map">Map</a> 
  - else
    p <a href="/api/intention/#{token}"><b>Intention</b></a> > <a href="/api/map">Map</a> 
  br
  //- p=shareUrl

  br
  .row
    .col-sm-6  

      h3=mapLocations.name
      img(class="img-thumbnail" title=mapLocations.name src=imagePath)
      blockquote(style='white-space:pre-wrap;')=mapLocations.description

  
  br
  .row
    .col-sm-6
      #map

  p
  a(href='/api/map/'  ) #{mapLocations.category}

  
  //- this is the simple way of making a local available to client javascript.
  script(type='text/javascript').
    var locations =!{JSON.stringify(mapLocations)}
    
  //- in development append a pseudo version number so that the javascript always reloads.
  //- otherwise do this:
  //- script(scr='/js/intention.js')
  script.
    document.write("<script type='text/javascript' var locations=locals.mapLocations src='/js/intention.js?" + Date.now() + "'><\/script>");
    
  script( async defer src='https://maps.googleapis.com/maps/api/js?key=' + locals.mapKey + '&libraries=visualization&callback=initMap')

  