extends ../layout

block content
  style.
    #map {
      height: 60vh;
    }

  .page-header
    h2
      a(href='/api/map')
        i.fa.fa-map
      | map - Sendlove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='/api/new_intention')
      i.fa.fa-map-marker 
      | Create your intention
    a.btn.btn-primary(href='http://www.facebook.com/sharer/sharer.php?u='+shareUrl, target='_blank')
      i.fa.fa-share
      | Share your intention

  br
  p <a href="/api/new_intention">Intention</a> > <a href="/api/map"><b>Map</b></a>  > <a href="/api/feed">Feed</a>  
  br
  .row
    .col-xs-11
      #map

  // included in map.pug and feed.pug.
  br
  .row
    .col-sm-12.col-md-11.col-lg-10
      for result in mapLocations.reverse()
        .row
          .col-xs-12.col-sm-4
            br
            a(href='/api/intention/' + result._id )
              img(src='http://sendloveio.imgix.net/'+result.imagePath + "?h=150", title=result.name)  
          .col-sm-2
            a(href='/api/intention/' + result._id ) #{result.name}
          .col-sm-3.col-md-5
            p #{result.description.substring(0,255)}..
          .col-sm-1
            a(href='/api/map?category=' + result.category ) #{result.category}
            p

  // put jquery before scripts that use it
  script(src="/js/jquery/jquery.min.js") 
  
  //- exif.js is an npm module used for image orientation. todo getelementbytagname=img
  //- script(src="/js/exif.js")
  //- script(src="/js/load-image.all.min.js")
  //- script.
  //-   document.write("<script type='text/javascript' src='/js/rotate-image.js?" + Date.now() + "'><\/script>");


  //- this is the simple way of making a local available to client javascript.
  script(type='text/javascript').
    var locations =!{JSON.stringify(mapLocations)}
    
  script.
    document.write("<script type='text/javascript' var locations=locals.mapLocations src='/js/map.js?" + Date.now() + "'><\/script>");
  
  script( async defer src='https://maps.googleapis.com/maps/api/js?key=' + locals.mapKey + '&libraries=visualization&callback=initMap')