extends ../layout

block content
  .page-header
    h2
      i.fa.fa-mobile-phone
      | Message - SendLove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://www.facebook.com/sendlove.io', target='_blank')
      i.fa.fa-share
      | Share your intention!
    a.btn.btn-primary(href='/', target='_blank')
      i.fa.fa-question-circle-o 
      | How does it work?

  br
  p <a href="/api/intention/=#{token}">Intention</a> > <a href="/api/message?intention=#{token}"><b>Message</b></a> > <a href="/api/map">Map</a> 
 
  //- p=token
  
  .row
    .col-sm-6
      form(role='form', method='POST')
        br
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='personId', value=user.id) 
        input(type='hidden', name='token', value=token) 
        
        .form-group
          .input-group
            label.control-label Number to text
            input.form-control(autofocus, type='text', size='20', name='telephone', placeholder='Mobile number (international format):')
        .form-group
          .input-group
            label.control-label Message
            textarea.form-control(name='message',  cols='35', rows='3', placeholder='Message to send:')
        .form-group
          .input-group
            button.btn.btn-default(type='submit')
              i.fa.fa-location-arrow
              | Send            