extends ../layout

block content
  .page-header
    h2
      i.fa.fa-heart
      | Workout - SendLove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://www.facebook.com/sendlove.io', target='_blank')
      i.fa.fa-share
      | Share your intention
    a.btn.btn-primary(href='/api/new_intention')
      i.fa.fa-map-marker 
      | Create your intention
      

    
  br
  .row
    .col-sm-6
    #floating-panel
      button(onclick="toggleHeatmap()") Toggle Heatmap
      button(onclick="changeGradient()") Change gradient
      button(onclick="changeRadius()") Change radius
      button(onclick="changeOpacity()") Change opacity
      label.control-label &nbsp; (for testing)
  .row
    .col-sm-6
      .form-group
        label.control-label Map it!
        #map(style="width:600px;height:400px") 

  br
  .row
    .col-sm-6
        pre
          for result in mapLocations
            p #{result._id}, #{result.latitude}, #{result.longitude}

  //- this is the simple way of making a local available to client javascript.
  script(type='text/javascript').
    var locations =!{JSON.stringify(mapLocations)}

  //- in development append a pseudo version number so that the javascript always reloads.
  //- otherwise do this:
  //- script(scr='/js/testmap.js' )
  script.
    document.write("<script type='text/javascript' var locations=locals.mapLocations src='/js/testmap.js?" + Date.now() + "'><\/script>");
  
  script( async defer src='https://maps.googleapis.com/maps/api/js?key=' + locals.mapKey + '&libraries=visualization&callback=initMap')
  
  
  style.
    #map {
      height: 100%;
    }
    #floating-panel {
      // position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5; 
      background-color: #fff;
      padding: 5px;
      border: 0px; // 1px solid #999;
      text-align: left;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }  